.productspage-products-container{
    width: 100%;
    padding: 0 20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    min-height: 100%;
    column-gap: 25px;
    row-gap: 25px;
}
.title-description-container p{
   font-size: 20px;
}
.products-title-images-continer{
    margin: 0 100px;
    display: flex;
}
.products-title-img-flex-container{
    margin: 20px 0 80px 0;
    display: flex;
    justify-content: space-between;
}
.products-title-img{
    width: 100px;

}
.products-page-flex-container{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}
.products-page-container{
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    align-self: right;
}

.products-cups-data-container{
    margin: 0 20px;
    direction: rtl;
    width: 70vw;
}


.backbtn{
    margin: 40px 10px;
    margin-top: 70px;
    background-color: red;
    border-radius: 5px;
    border: 1px solid red;
    color: white;
    width: 80px;
    height: 30px;
    direction: rtl;
}

.sidebar-products{
    min-height: 890px!important;
}

@media (max-width: 981px) {
    .productspage-products-container{
        display: flex;
        flex-direction: column;
    }
    .products-flex-container{
        flex-direction: column;
        margin: auto!important;
        width: 95%;
        margin-top: 100px;
    }
    .products-page-flex-container{
        flex-direction: column;
        margin: 100px 0px 0px 0px;
    }
    .products-title-img{
        width: 100px;
        object-fit: contain;
    }
    .products-title-img-flex-container{
        flex-direction: column;
        margin-left: 0!important;
    }
}